.badBin {
    text-align: center;
    padding: 10px;
    margin: 40px;
    background-color: rgb(245, 69, 69);
    color:white;
}

.goodBin{
    text-align: center;
    padding: 10px;
    margin: 40px;
    background-color: rgb(101, 228, 101);
    color:white;
}

.DottedBox {
    margin: 40px;
    border: 5px dotted pink;
}

.DottedBox_Content {
    font-size:15px;
    text-align: centre;
}
